<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
<link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
<header class="nhsuk-header" data-module="nhsuk-header" role="banner">
  <div class="nhsuk-header__container nhsuk-width-container">
    <div class="nhsuk-header__service">
      <a class="nhsuk-header__service-logo" href="#" aria-label="Manage patients homepage">
        <svg class="nhsuk-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 80" height="40" width="100"
          focusable="false" role="img" aria-label="NHS">
          <title>{% block title %}NHS{% endblock %}</title>
          <path fill="currentcolor"
            d="M200 0v80H0V0h200Zm-27.5 5.5c-14.5 0-29 5-29 22 0 10.2 7.7 13.5 14.7 16.3l.7.3c5.4 2 10.1 3.9 10.1 8.4 0 6.5-8.5 7.5-14 7.5s-12.5-1.5-16-3.5L135 70c5.5 2 13.5 3.5 20 3.5 15.5 0 32-4.5 32-22.5 0-19.5-25.5-16.5-25.5-25.5 0-5.5 5.5-6.5 12.5-6.5a35 35 0 0 1 14.5 3l4-13.5c-4.5-2-12-3-20-3Zm-131 2h-22l-14 65H22l9-45h.5l13.5 45h21.5l14-65H64l-9 45h-.5l-13-45Zm63 0h-18l-13 65h17l6-28H117l-5.5 28H129l13.5-65H125L119.5 32h-20l5-24.5Z" />
        </svg>
        <span class="nhsuk-header__service-name">{% block serviceName %}{% endblock %}</span>
        <p class="govuk-phase-banner__content" style="display: flex; align-items: center;"> <strong class="govuk-tag govuk-phase-banner__content__tag">
            Alpha
          </strong></p>
      </a>
    </div>
  </div>
</header>


{% endblock %}


<main>
{% block content %}
{% endblock %}
</main>
<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{% set metaAboutHtml %}
<p class="nhsuk-body-s">Built on <a class="nhsuk-footer__list-item-link"
    href="https://prototype-kit.service-manual.nhs.uk/updates/">NHS prototype kit {{ prototypeKitVersion }}</a> and <a
    class="nhsuk-footer__list-item-link" href="https://github.com/nhsuk/nhsuk-frontend/releases/">NHS.UK frontend {{
    nhsukFrontendVersion }}</a></p>
{% endset %}

{{ footer({
meta: {
items: [
{
href: "/",
text: "Home"
},
{
href: "/prototype-admin/reset?returnPage=" + (currentPage | urlencode),
text: "Reset data"
}
],
html: metaAboutHtml
}
}) }}
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script type="module" src="../../../assets/javascript/main.js"></script>
{% block pageScripts %}{% endblock %}
{% endblock %}