{% extends 'journeys/supplier/manage-assurance-information/version-1/layout.html' %}
{% set pageName = 'DTAC updated' %}
{% block journeyContent %}
{{ panel({ heading: { text: "DTAC updated", level: 1 }, text: "The DTAC for Moustache Health Monitor App has been updated." }) }}
<h2 class="nhsuk-heading-m">What happens next</h2>
<p>The updated information may be reused when responding to future assurance requests for this product.</p>
<p><a href="/journeys/supplier/manage-assurance-information/version-1/assurance-information">Return to assurance information</a></p>

{% endblock %}
