{% extends 'journeys/supplier/manage-assurance-information/version-1/layout.html' %}
{% set pageName = 'DTAC information updated' %}
{% block journeyContent %}
{{ panel({ heading: { text: "DTAC information updated", level: 1 }, text: "C4 – Interoperability criteria has been updated for Moustache Health Monitor App, version 3.2." }) }}
<h2 class="nhsuk-heading-m">What happens next</h2>
<p>The updated information may be reused when responding to future assurance requests for this product.</p>
<p><a href="/journeys/supplier/manage-assurance-information/version-1/dtac">Return to DTAC information</a></p>

{% endblock %}
