// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.
.summary-card {
  background-color: #ffffff;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d8dde0;
  color: #212b32;
  box-shadow: 5px 5px 5px#d8dde0;
  padding: 2em;
  margin-bottom: 24px;
}

.urgent-inset {
  box-sizing: border-box;
  border-left: 8px solid #d5281b;
  background-color: #f4d7d7;
  padding: 2em;
  margin-bottom: 2em;
}

.urgent-inset p {
  margin-bottom: 0;
}

.urgent-link {
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #e59a9a;
  padding: 24px;
}

.urgent-link h4 {
  padding: 0px;
  margin: 0px;
}
.urgent-inset .inset-title {
  margin-bottom:24px;
}

.assurance-tag {
margin-top:0.6em;
}