{% extends '../layout.html' %}

{% block beforeContent %}
{{ backLink({
  href: "./start",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
<h1>Upload DTAC file</h1>
<p>Worthington and Greater Bryce South Trust have requested assurance documents for your Moustache health monitor app.</p>

<form id="dtac-selection-form">
  <div class="nhsuk-form-group nhsuk-file-upload" data-module="nhsuk-file-upload">
    <h1 class="nhsuk-label-wrapper">
      <label class="nhsuk-label nhsuk-label--l" for="file-hint">
        Upload
      </label>
    </h1>
    <input class="nhsuk-file-upload__input" id="file-hint" name="file-hint" type="file">
  </div>

  <p class="nhsuk-heading-m orAlign">or</p>
  <h2 class="nhsuk-heading-l">Reuse</h2>
  <p><strong>2</strong> existing DTAC files associated with other NHS trusts found for this device.</p>

  <table class="nhsuk-table">
    <thead class="nhsuk-table__head">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="col">Trust</th>
        <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">Expires</th>
        <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">Additional questions</th>
        <th class="nhsuk-table__header" scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="row">
          <a href="">Crumpton and Eggley Trust</a>
        </th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">in 6 months</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">None</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
          <button class="nhsuk-button nhsuk-button--small select-row-btn" type="button">
            Select
          </button>
                  <strong class="nhsuk-tag nhsuk-tag--grey" style="display:none">
          selected
        </strong>
        </td>
      </tr>
      <tr class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="row">
          <a href="">Bennett County Trust</a>
        </th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">in 8 months</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric"><a href="">View</a></td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
          <button class="nhsuk-button nhsuk-button--small select-row-btn" type="button">
            Select
          </button>
        <strong class="nhsuk-tag nhsuk-tag--grey" style="display:none">
          selected
        </strong>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    Continue
  </button>
</form>

{% endblock %}