{% extends "prototypes/ur_prototypes/ver_2/layout.html" %}
{% block serviceName %}Assure a medical device {% endblock %}

{% block beforeContent %}
{{ backLink({
href: "../contents",
text: "Back"
}) }}
{% endblock %}


{% block content %}
<h1 class="nhsuk-heading-xl">
    <span class="nhsuk-caption-l">Moustache health monitor app (v 3.1.4)</span>
    Assurance questionnaire wizard
</h1>
<p>Please refer to <a href="https://app.mural.co/t/dhscdesignforlife9114/m/dhscdesignforlife9114/1784299764994/7fd1e549fb90e83c339ded39a8080cfb7d7572ba?wid=0-1790612191590" target="_blank">the mural board.</a></p>

{% endblock %}