{% extends './layout.html' %}

{% block content %}
<form action="./supplier_search_result" method="post">
<div class="nhsuk-form-group nhsuk-search-input">
  <label class="nhsuk-label nhsuk-label--l" for="example">
Search for a supplier
  </label>
  <div class="nhsuk-hint" id="supplier-hint">
    Search by supplier name, contact email address or device name.
  </div>
  <div class="nhsuk-input-wrapper nhsuk-search-input__wrapper">
    <input class="nhsuk-input nhsuk-u-width-two-thirds nhsuk-search-input__input" id="supplier-search" name="supplierSearch" type="search" value="Moustache health monitor app" aria-describedby="supplier-hint" autocomplete="off">
    <button class="nhsuk-button nhsuk-button--icon nhsuk-button--small nhsuk-search-input__button" data-module="nhsuk-button" type="submit" aria-label="Search">
      <svg class="nhsuk-icon nhsuk-icon--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
        <path d="m20.7 18.9-4.1-4.1a7 7 0 1 0-1.4 1.4l4 4.1a1 1 0 0 0 1.5 0c.4-.4.4-1 0-1.4ZM6 10.6a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" />
      </svg>
    </button>
  </div>
</div>
<form>


{% endblock %}