{% extends 'layout.html' %}

{% block content %}
<table class="nhsuk-table nhsuk-table--compact">
  <caption class="nhsuk-table__caption nhsuk-table__caption--m" id="vaccination-coverage-caption">
    File hub
  </caption>
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header" scope="col">
        File name
      </th>
      <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
        Form type
      </th>
      <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
        Date uploaded
      </th>
      <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
        Uploaded by
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        DTAC-final-final-double-checked-final.pdf
      </th>
      <td class="nhsuk-table__cell nhsuk-u-text-align-right">
        DTAC
      </td>
      <td class="nhsuk-table__cell nhsuk-u-text-align-right">
        {{"" | filters.randomDate}}
      </td>
      <td class="nhsuk-table__cell nhsuk-u-text-align-right">
        91.30%
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <td class="nhsuk-table__cell">
        Northern Ireland
      </th>
      <td class="nhsuk-table__cell nhsuk-u-text-align-right">
        93.10%
      </td>
      <td class="nhsuk-table__cell nhsuk-u-text-align-right">
        91.80%
      </td>
      <td class="nhsuk-table__cell nhsuk-u-text-align-right">
        91.00%
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header" scope="row">
        Scotland
      </th>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        95.55%
      </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        94.84%
      </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        94.50%
      </td>
    </tr>
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header" scope="row">
        Wales
      </th>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        94.47%
      </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        94.19%
      </td>
      <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
        94.10%
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}


