{% extends 'layout.html' %}

{% block content %}
<table class="nhsuk-table nhsuk-table--compact">
    <caption class="nhsuk-table__caption nhsuk-table__caption--m" id="vaccination-coverage-caption">
        File hub
    </caption>
    <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">
                File name
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Form type
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric data-sort-next=descending" scope="col">
                Date uploaded
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Uploaded by
            </th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                <a href="">DTAC-final-final-double-checked-final.pdf</a>
                </th>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                DTAC
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                {{"" | randomDate}}
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                Gregory House
            </td>
        </tr>
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                <a href="">PAQ-needs-review.docx</a>
                </th>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                PAQ
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                {{"" | randomDate}}
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                Meredith Grey
            </td>
        </tr>
        </tr>
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                <a href="">PAQ-reviewed.docx</a>
                </th>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                PAQ
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                {{"" | randomDate}}
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                Meredith Grey
            </td>
        </tr>
        <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
                <a href="">fake-certificate.pdf</a>
                </th>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                certificate
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                {{"" | randomDate}}
            </td>
            <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                Dr Nick
            </td>
        </tr>

    </tbody>
</table>

{% endblock %}