{% extends "prototypes/ur_prototypes/ver_2/layout.html" %}
{% block serviceName %}Assure a medical device {% endblock %}

{% block beforeContent %}
{{ backLink({
href: "../contents",
text: "Back"
}) }}
{% endblock %}


{% block content %}
<h1 class="nhsuk-heading-xl">
    <span class="nhsuk-caption-l">Moustache health monitor app (v 3.1.4)</span>
    Question bank
</h1>
<p class="nhsuk-body-l">View questions that other NHS organisations have asked about this device and other similar
    devices.</p>
<h2 class="nhsuk-heading-l">About this device</h2>
<p class="nhsuk-body-m">View questions about this device from other NHS organisations and see the answers from the
    supplier where available.</p>
<p> To add the question and answer to your own assurance portfolio, or to view more details about the trust and other
    questions they may have submitted, click 'Use answer'.</p>
<div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
        <h2 class="nhsuk-card__heading nhsuk-heading-m" name="commonQuestion">
            "Does the app use any generative AI such as LLMs?"
        </h2>
        <ul class="nhsuk-card__actions">
            <li class="nhsuk-card__action">
                <strong class="nhsuk-tag nhsuk-tag--grey">Artificial intelligence</strong>
            </li>
        </ul>
    </div>
    <div class="nhsuk-card__content">
        <div class="chat-bubble--reply">
            <p class="nhsuk-body-l">"The app only uses traditional machine learning models"</p>
            <p style="text-align: right;">Published by <strong>MediBeard UK</strong> 10 days ago</p>
        </div>

        <div style="display: flex; align-items: center; gap: 16px; " class="nhsuk-u-margin-top-4">
            <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-bottom-0" data-module="nhsuk-button"
                type="submit">
                Use question
            </button>
            <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-bottom-0" style="background-color:#005eb8 ;"
                data-module="nhsuk-button" type="submit">
                Mark as useful
            </button>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
                <strong>73</strong> others found this useful
            </p>
        </div>
    </div>
</div>
<div class="nhsuk-card">
    <div class="nhsuk-card__heading-container">
        <h2 class="nhsuk-card__heading nhsuk-heading-m" name="commonQuestion">
            "Does the app share moustache data with third parties?"
        </h2>
        <ul class="nhsuk-card__actions">
            <li class="nhsuk-card__action">
                <strong class="nhsuk-tag nhsuk-tag--yellow">Legal</strong>
            </li>
            <li class="nhsuk-card__action">
                <strong class="nhsuk-tag nhsuk-tag--green">Cyber security</strong>
            </li>
        </ul>
    </div>
    <div class="nhsuk-card__content">
        <p>Answer available on request</p>

        <div style="display: flex; align-items: center; gap: 16px; " class="nhsuk-u-margin-top-4">
            <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-bottom-0" data-module="nhsuk-button"
                type="submit">
                Use question
            </button>
            <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-bottom-0" style="background-color:#005eb8 ;"
                data-module="nhsuk-button" type="submit">
                Mark as useful
            </button>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">
                <strong>24</strong> others found this useful
            </p>
        </div>
    </div>
</div>
<p class="nhsuk-body-l"><a>View more</a></p>
<h2 class="nhsuk-heading-l">About similar devices</h2>
<ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="#">Common questions</a>
                </h2>
                <p class="nhsuk-card__description">See the most common questions asked about similar devices </p>
                <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                    <path
                        d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
                </svg>
            </div>
        </div>
    </li>
    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="#">Search the question bank</a>
                </h2>
                <p class="nhsuk-card__description"> Use the search engine or browse questions by category. </p>
                <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                    <path
                        d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
                </svg>
            </div>
        </div>
    </li>
    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="#">Question files</a>
                </h2>
                <p class="nhsuk-card__description">Browse the question files published by other trusts and request
                    answers if available</p>
                <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                    <path
                        d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
                </svg>
            </div>
        </div>
    </li>
</ul>
<h2 class="nhsuk-heading-l">Contribute</h2>

<div class="nhsuk-card nhsuk-card--clickable nhsuk-card--primary nhsuk-u-width-two-thirds">
    <div class="nhsuk-card__content">
        <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="#">Publish questions</a>
        </h2>
        <p class="nhsuk-card__description">Help improve assurance standards by sharing your questions with other
            trusts</p>
        <svg class="nhsuk-icon nhsuk-icon--chevron-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            width="16" height="16" focusable="false" aria-hidden="true">
            <path
                d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20Zm-.3 5.8a1 1 0 1 0-1.5 1.4l2.9 2.8-2.9 2.8a1 1 0 0 0 1.5 1.4l3.5-3.5c.4-.4.4-1 0-1.4Z" />
        </svg>
    </div>
</div>
<p class="nhsuk-body-l"><a href="../../start">Return to dashboard</a></p>






{% endblock %}