{% extends './layout.html' %}

{% block content %}
<form action="./start" method="post">
    <h1 class="nhsuk-heading-xl">Design history</h1>
    <h2 class="nhsuk-heading-l">Start page</h2>
    <h3 class="nhsuk-heading-m">Feedback</h3>
    <p>Users found the single search field confusing and expected to see a list of devices on the next page instead of a list of suppliers.</p>
    <h3 class="nhsuk-heading-m">Changes made</h3>
    <p>The page has two input text fields, allowing the user to search by supplier name, device name or both. The intro paragraph is intended to clarify that this journey is still about finding a supplier, even if they find the supplier by device.
    </p>
<form>


{% endblock %}