{% extends 'layout.html' %}
{% block beforeContent %}
{{ backLink({
href: "../index",
text: "Back"
}) }}
{% endblock %}
{% block content %}

<main class="nhsuk-main-wrapper">
    <span class="nhsuk-caption-l">Moustache health monitor</span>
    <h1 class="nhsuk-heading-xl">Upload file</h1>
    <p class="nhsuk-body-l nhsuk-u-secondary-text-colour">It might be worth trying to encourage (or force) users to tag
        their files before uploading
        them to the filehub so that they are easier to find.</p>

    <p class="nhsuk-body-l">You can edit or amend the file details at any point and any changes will be tracked.
    </p>

    <h1 class="nhsuk-heading-l">Tags</h1>
    <p>Tagging your file makes it easier for others to find it. </p>
    <form id="tag-form">
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="select-tag">
                Select at least one tag
            </label>
            <select class="nhsuk-select nhsuk-u-width-one-half" id="select-tag" name="selectTag">
                <option value="None" selected="selected">-- select below --</option>
                <option value="DTAC" selected>DTAC</option>
                <option value="PAQ" selected>PAQ</option>
                <option value="DPIA">DPIA</option>
                <option value="Cyber Essentials">Cyber Essentials</option>
                <option value="DCB129">DCB0129</option>
            </select>
        </div>
        <button class="nhsuk-button nhsuk-button--small" data-module="nhsuk-button" type="submit">
            Add tag
        </button>
        <button class="nhsuk-button nhsuk-button--small nhsuk-button--secondary" id="clear-button"
            data-module="nhsuk-button" type="button">
            Clear tags
        </button>
    </form>
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
            <div class="nhsuk-card nhsuk-u-padding-5" style="display:none" id="tag-list">
            </div>
        </div>
    </div>
    <div class="nhsuk-form-group">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
                Status
            </h1>
        </legend>
        <fieldset class="nhsuk-fieldset">
            <div class="nhsuk-radios nhsuk-radios--small" data-module="nhsuk-radios">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="filter" name="filter" type="radio" value="draft">
                    <label class="nhsuk-label nhsuk-radios__label" for="filter">
                        Draft
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="filter-2" name="filter" type="radio" value="yearly">
                    <label class="nhsuk-label nhsuk-radios__label" for="filter-2">
                        For Review
                    </label>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="filter-2" name="filter" type="radio" value="yearly">
                    <label class="nhsuk-label nhsuk-radios__label" for="filter-2">
                        Completed
                    </label>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                    Visibility
                </h1>
            </legend>
            <div class="nhsuk-radios--small" data-module="nhsuk-radios">
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="private" name="private" type="radio" value="mobile"
                        aria-describedby="example-hints-item-hint">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints">
                        Private
                    </label>
                    <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-item-hint">
                        Only visible to you
                    </div>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="internal" name="internal" type="radio" value="landline"
                        aria-describedby="example-hints-2-item-hint">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                        Internal
                    </label>
                    <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                        Visible to authorised users, including linked trusts (see below)
                    </div>
                </div>
                <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="public" name="public" type="radio" value="landline"
                        aria-describedby="example-hints-2-item-hint">
                    <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
                        Public <strong>(recommended)</strong>
                    </label>
                    <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-2-item-hint">
                        Visible to all NHS trusts
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <h1 class="nhsuk-heading-l">Linked trusts (optional)</h1>
    <p>If this document is intended for one or more speficic trusts, search for them below, link them to the document
        and they will be notified.
    </p>
    <form id="search-trusts">
        <div class="nhsuk-form-group nhsuk-search-input">
            <div class="nhsuk-input-wrapper nhsuk-search-input__wrapper">
                <input class="nhsuk-input nhsuk-search-input__input nhsuk-u-width-two-thirds" id="searchInput"
                    name="searchInput" type="search" value="Worthington and Greater Bryce North"
                    aria-describedby="example-hint" autocomplete="off">
                <button class="nhsuk-button nhsuk-button--icon nhsuk-button--small nhsuk-search-input__button"
                    data-module="nhsuk-button" type="submit" aria-label="Search" id="search-button">
                    <svg class="nhsuk-icon nhsuk-icon--search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        width="16" height="16" focusable="false" aria-hidden="true">
                        <path
                            d="m20.7 18.9-4.1-4.1a7 7 0 1 0-1.4 1.4l4 4.1a1 1 0 0 0 1.5 0c.4-.4.4-1 0-1.4ZM6 10.6a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" />
                    </svg>
                </button>
            </div>
        </div>
    </form>
    <div class="search-result-list" id="listed-trusts" style="display:none">
    </div>
    <div id="search-results" style="display:none">
    </div>
    <div class="nhsuk-form-group nhsuk-file-upload" data-module="nhsuk-file-upload">
        <h1 class="nhsuk-label-wrapper">
            <label class="nhsuk-label nhsuk-label--l" for="file-hint">
                Upload file
            </label>
        </h1>
        <input class="nhsuk-file-upload__input" id="file-hint" name="file-hint" type="file">
    </div>
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
    </button>


</main>

{% endblock %}
{% block bodyEnd %}
{{ super() }}
<script type="module" src="/assets/javascript/custom.js"></script>
{% block pageScripts %}{% endblock %}
{% endblock %}