{% extends './layout.html' %}
{% block beforeContent %}
{{ backLink({
href: "supplier_search_result",
text: "Back"
}) }}
{% endblock %}

{% block content %}
<form>
    <div class="nhsuk-form-group">
        <h1 class="nhsuk-heading-xl">Found 3 potential suppliers of {{data.deviceSearch}}</h1>
        <div class="nhsuk-card nhsuk-card--warning">
            <div class="nhsuk-card__content">
                <h3 class="nhsuk-card__heading">
                    <span role="text">
                        <span class="nhsuk-u-visually-hidden">Important: </span>Caution
                    </span>
                </h3>
                <p class="nhsuk-card__description">Multiple suppliers might be selling the same medical product,
                    potentially under different names.
                    Check you have the right supplier and/or product by viewing their respective DHSC Compass profiles
                    or websites. </p>
            </div>
        </div>

        <div class="nhsuk-card">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m store-data" name="chosenDevice"
                    value="Moustache health monitor app">
                    Moustache health monitor app
                </h2>
                <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Device name and model
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Moustache health monitor app (version 1.0.2)
                        </dd>
                        <dd class="nhsuk-summary-list__value">
                            <button class="nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-top-0"
                                data-module="nhsuk-button" type="submit">
                                View device
                            </button>
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Supplier
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <a>MediBeard UK</a>
                        </dd>
                        <dd class="nhsuk-summary-list__value">
                            <button class="nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-top-0"
                                data-module="nhsuk-button" type="submit">
                                View supplier
                            </button>
                        </dd>
                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Company number
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <strong>27182818</strong>
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Category
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Follicle monitoring
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Trusts using this
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            None
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Shared documents
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            None
                        </dd>
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Procurement outcomes
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <strong class="nhsuk-tag nhsuk-tag--red">Procured: 0 trusts</strong>
                        </dd>
                    </div>
                </dl>
                <div class="nhsuk-checkboxes nhsuk-checkboxes--inline" data-module="nhsuk-checkboxes">
                    <div class="nhsuk-checkboxes__item">
                        <input class="nhsuk-checkboxes__input" id="example-inline" name="exampleInline" type="checkbox"
                            value="right">
                        <label class="nhsuk-label nhsuk-checkboxes__label" for="example-inline">
                            Device selected
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                    Something wrong?
                </span>
            </summary>
            <div class="nhsuk-details__text">
                <p>If you do not see the correct medical product and/or supplier listed, it does not necessarily mean
                    the product is no longer available. Product names can change from time to time and can also vary
                    from supplier to supplier</p>

                <p>Try searching by supplier or medical product only and then filtering the results on the following
                    page.</p>
                <p><a href="">Return to search page</a></p>
            </div>
        </details>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
        </button>
</form>

{% endblock %}