{% extends './layout.html' %}

{% block content %}
<form action="supplier_search_result" method="post">
  <div class="nhsuk-form-group nhsuk-search-input">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading--xl nhsuk-u-margin-bottom-2">
          Find a supplier
        </h1>
      </legend>
      <p class="nhsuk-body-l">Search for a supplier to open a dialogue and begin the assurance process for one of their products.</p>

      <h3>Fill in at least one field</h3 >

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="supplier-name-or-email">
          Supplier name or email address
        </label>
        <input class="nhsuk-input nhsuk-u-width-three-quarters" id="supplier-name-or-email" name="supplierSearch" type="text" autocomplete="supplier-name-or-email">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="device-name-or-code">
          Device name or product code
        </label>
        <input class="nhsuk-input nhsuk-u-width-three-quarters" id="device-name-or-code" name="deviceSearch" type="text" autocomplete="device-name-or-code">
      </div>
    </fieldset>
    </div>
      <button class="nhsuk-button" type="submit">Search</button>
  </div>
</form>
{% endblock %}