{% extends '../layout.html' %}

{% block content %}
<form action="./supplier_search_result" method="post">
        <login-service-status-banner 
            _nghost-ng-c253325600=""><!----></login-service-status-banner><!---->
        <form  novalidate="" class="ng-untouched ng-pristine ng-invalid">
            <fieldset  class="nhsuk-fieldset">
                <legend  class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1  tabindex="-1" class="nhsuk-heading-l removeFocusOutline"> Log in
                        <span > to your supplier account </span><!----><!----></h1>
                </legend>
                <div >
                    <div  class="nhsuk-form-group"><label 
                            for="user-email" aria-describedby="alert-description-enter-email" class="nhsuk-label"> Email
                            address </label><!----><input  data-qa="enter-email-input"
                            id="user-email" type="email" autocomplete="email webauthn" formcontrolname="email"
                            name="email" aria-required="true"
                            class="nhsuk-input full-width nhsuk-input--width-20 ng-untouched ng-pristine ng-invalid">
                    </div>
                    <div  class="nhsuk-form-group"><label 
                            for="password-input" aria-describedby="alert-description_enter_password"
                            class="nhsuk-label nhsuk-u-margin-top-3"> Password </label><!----><login-password
                             inputid="password-input" autocomplete="current-password"
                            formcontrolname="password" _nghost-ng-c1779812237=""
                            class="ng-untouched ng-pristine ng-invalid">
                            <div  data-module="nhsuk-password-input"
                                class="nhsuk-form-group nhsuk-password-input nhsuk-input-wrapper nhsuk-input--width-20">
                                <input 
                                    class="nhsuk-input nhsuk-password-input__input nhsuk-js-password-input-input ng-untouched ng-pristine ng-invalid"
                                    id="password-input" autocomplete="current-password" type="password"
                                    data-qa="password-input"><button 
                                    data-qa="hide-or-show-password" data-module="nhsuk-button" type="button"
                                    class="nhsuk-button nhsuk-button--secondary nhsuk-button--small nhsuk-password-input__toggle nhsuk-js-password-input-toggle"
                                    aria-pressed="false" aria-label="Show password"><span 
                                        id="password-input-text-toggle">Show</span></button></div><!---->
                        </login-password>
                        <div  class="nhsuk-u-margin-top-3">
                            <p ><a  href="">Forgot password?</a>
                            </p>
                        </div>
                    </div>
                </div><spinner-button-full-width  data-qa="enter-email-submit-button"
                    id="continue-button" _nghost-ng-c3249182981=""><button  type="submit"
                        role="button" class="nhsuk-button full-width"><!----> Continue
                    </button></spinner-button-full-width>
            </fieldset>
        </form>
        <p ><a  href="" style="pointer-events: auto;">Log in
                with a passkey</a></p><!---->
        <p  class="nhsuk-heading-m orAlign">or</p><a 
            href="/register/create-account-steps" id="create-account-button" role="button">
            <div  id="button--save" type="submit"
                class="nhsuk-button btn-legacy nhsuk-button--secondary full-width">Create supplier account </div>
        </a>
        <p > A supplier account gives you access to the supplier dashboard, which allows you to respond to requests, upload assurance documents and monitor all of your assurance processes with NHS trusts. <br ><a 
                href="//www.nhs.uk/nhs-services/online-services/nhs-login/">Learn more about supplier account</a>. </p>
    </div>
</form>

{% endblock %}