{% extends "prototypes/ur_prototypes/ver_2/layout.html" %}
{% block serviceName %}Assure a medical device {% endblock %}

{% block beforeContent %}
{{ backLink({
href: "/",
text: "Home"
}) }}
{% endblock %}


{% block content %}
<h1 class="nhsuk-heading-xl">
    <span class="nhsuk-caption-l">Moustache health monitor app (v 3.1.4)</span>
    Assure this device
</h1>
<ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="assurance_status">Track your assurance information</a>
                </h2>
                <p class="nhsuk-card__description"> View the status of all requests and review or approve documents.</p>
            </div>
        </div>
    </li>
    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="request_standard_assurance/request_standard_assurance">Request standard assurance documents</a>
                </h2>
                <p class="nhsuk-card__description"> Choose from the latest available versions of NHS standard assurance
                    forms, such as the DCB0129, PAQ or Cyber Essentials.</p>
            </div>
        </div>
    </li>
    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="request_additional_assurance/contents">Request additional assurance</a>
                </h2>
                <p class="nhsuk-card__description"> Choose from the latest available versions of NHS standard assurance
                    forms, such as the DCB0129, PAQ or Cyber Essentials.</p>
            </div>
        </div>
    </li>
    <li class="nhsuk-grid-column-two-thirds nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable nhsuk-card--secondary">
            <div class="nhsuk-card__content">
                <h2 class="nhsuk-card__heading nhsuk-heading-m">
                    <a class="nhsuk-card__link" href="view_existing_assurance/view_existing_assurance">View existing assurance documents</a>
                </h2>
                <p class="nhsuk-card__description"> If this device has been procured before, there may be available
                    assurance documents on the
                    filehub.</p>
            </div>
        </div>
    </li>
</ul>
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
         Not sure what assurance you need?
    </span>
  </summary>
  <div class="nhsuk-details__text">

    <p class="nhsuk-body-m">The <a>Eligibility checker</a> can help get you started.</p> 

  </div>
</details>


{% endblock %}