{% extends "prototypes/ur_prototypes/ver_2/layout.html" %}
{% block serviceName %}Assure a medical device {% endblock %}

{% block beforeContent %}
{{ backLink({
href: "../start",
text: "Back"
}) }}
{% endblock %}


{% block content %}
<h1 class="nhsuk-heading-xl">
    <span class="nhsuk-caption-l">Moustache health monitor app (v 3.1.4)</span>
    Existing supplier assurance information
</h1>
<p>View the most up to date information already provided by MediBeard UK for this product.<br><br>

    Click view to see more details about the document and choose whether to add it to your own organisation's assurance
    process.</p>
<h2 class="nhsuk-heading-l">Available information</h2>
<table class="nhsuk-table">
    <caption class="nhsuk-table__caption">
        Standard assurance documents
    </caption>
    <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">
                Document name
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Last used by
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Updated by supplier
            </th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="row">
                Pre-acquisition Questionnaire (PAQ) <strong class="nhsuk-tag nhsuk-tag--yellow">signature required</strong>
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a>Worthington and Greater Bryce North Trust</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                4 months ago
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color:#005eb8 ;"
                    data-module="nhsuk-button" type="submit">
                    View
                </button>
            </td>
        </tr>
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="row">
                Digitial Technology Assessment Criteria (DTAC)
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                Not used by any organisation since last update
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                10 days ago
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color:#005eb8 ;"
                    data-module="nhsuk-button" type="submit">
                    View
                </button>
            </td>
        </tr>
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="row">
                Data Security and Protection Toolkit(DSPT)
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
               <a>Worthington and Greater Bryce North Trust</a> 
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                2 weeks ago
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color:#005eb8 ;"
                    data-module="nhsuk-button" type="submit">
                    View
                </button>
            </td>
        </tr>
    </tbody>
</table>
<table class="nhsuk-table">
    <caption class="nhsuk-table__caption">
        Non-standard assurance documents
    </caption>
    <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">
                Document name
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Last used by
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Updated by supplier
            </th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="row">
                Evidence of Caldicott principles
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a>Worthington and Greater Bryce North Trust</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                4 months ago
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color:#005eb8 ;"
                    data-module="nhsuk-button" type="submit">
                    View
                </button>
            </td>
        </tr>
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="row">
                MDS2 (Manufacturer Disclosure Statement for Medical Device Security)
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a>County Jason Trust</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                2 weeks ago
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color:#005eb8 ;"
                    data-module="nhsuk-button" type="submit">
                    View
                </button>
            </td>
        </tr>
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="row">
                NICE digital health technology category classification <strong class="nhsuk-tag nhsuk-tag--red">Expires soon</strong>
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
               <a>Worthington and Greater Bryce North Trust</a> 
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                11 months ago
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color:#005eb8 ;"
                    data-module="nhsuk-button" type="submit">
                    View
                </button>
            </td>
        </tr>
    </tbody>
</table>
<table class="nhsuk-table">
    <caption class="nhsuk-table__caption">
        Already added<br><br>
        <p>These documents have been added to your own assurance processes by you or someone else in your organisation.</p>
    </caption>
    <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="col">
                Document name
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Last used by
            </th>
            <th class="nhsuk-table__header nhsuk-table__header--numeric" scope="col">
                Updated by supplier
            </th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header" scope="row">
                Data protection impact assessment (DPIA)
            </th>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                <a>Worthington and Greater Bryce North Trust</a>
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric">
                10 days ago
            </td>
            <td class="nhsuk-table__cell nhsuk-table__cell--numeric" style="display:flex; gap:1em">
                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color:#005eb8 ;"
                    data-module="nhsuk-button" type="submit">
                    View
                </button>
                                <button class="nhsuk-button nhsuk-button--small nhsuk-u-margin-top-2" style="background-color: 	#d5281b;"
                    data-module="nhsuk-button" type="submit">
                    Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>
<p class="nhsuk-body-l"><a href="../start">Return to dashboard</a></p>


{% endblock %}