<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- Add your content here -->
    <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

    <h1 class="nhsuk-heading-xl">
      {{ serviceName }}
    </h1>

    <table class="nhsuk-table">
      <caption class="nhsuk-table__caption">
        Prototypes for suppliers and NHS trusts
      </caption>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">
            1 - Centralised file management
          </th>
          <td class="nhsuk-table__cell">
            <a href="1-file-management/supplier/start">Supplier</a>
          </td>
          <td class="nhsuk-table__cell">
            <a href="1-file-management/trust/start">Trust</a>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">
            2 - Innovator passport concept
          </th>
          <td class="nhsuk-table__cell">
            <a href="2-innovator-passport-DTAC">Supplier</a>
          </td>
          <td class="nhsuk-table__cell">
            <a href="2-innovator-passport-DTAC/trust/start">Trust</a>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="row">
            3 - Better workflow through live dashboard
          </th>
          <td class="nhsuk-table__cell">
            <a href="3-live-workflow/supplier/start">Supplier</a>
          </td>
          <td class="nhsuk-table__cell">
            <a href="">Trust</a>
          </td>
        </tr>
      </tbody>
    </table>
    <h2 class="nhsuk-heading-m">Snippets and pages</h2>
    <ul>
      <li><a href="pages/filehub_summary">filehub summary</a></li>
      <li><a href="pages/filehub_upload">filehub upload</a></li>
    </ul>





  </div>
</div>
{% endblock %}