<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}


{% from "breadcrumb/macro.njk" import breadcrumb %}
{% from "button/macro.njk" import button %}
{% from "inset-text/macro.njk" import insetText %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% set dummyNhsNumber = "999 123 4567" %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl">Innovator Passport Service</h1>
    <p>Use this service to download completed DTAC forms from medical device suppliers or request more up to date
      information from the supplier </p>
    <h2 class="nhsuk-heading-l"> Who can use this service</h2>
    <p>Anyone procuring a medical device.</p>

    <h2 class="nhsuk-heading-l">Before you start</h2>
    <p>You will need:</p>
    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>Supplier name</li>
      <li>Medical device code (optional)</li>

      {{ hint({
      html: 'Every NHS approved medical device will have a unique code. If you do not have the code, you can search for
      the product by name.'
      }) }}


      {{ button({
      text: "Start now",
      href: "supplier-details"
      }) }}

  </div>
</div>
{% endblock %}